
@model  LandingPageModel

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid header1 header2 minify-header appfamily-header">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1>Microsoft Visio File Format Solution</h1>
				<h4>Use our Apps to view or convert Microsoft Visio drawings or create & convert Visio files within your On Premise & Cloud-based applications.</h4>
			</div>
			<div class="col-md-4 tc">
				<img class=" col-xs-12" src="../img/aspose_diagram-brand.png" alt="Aspose.Diagram" width="320" />
			</div>
		</div>
	</div>
</div>
<div class="container-fluid productfamilypage bg-white pdb-5">
	<div class="row">
        <div class="container tc">
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <h3>@string.Format(@Model.Resources["AsposeProductFamilyInclude"], @Model.Resources["AsposeDiagram"])  </h3>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <div class="col-lg-4 productfamily_box">
                <div class="productfamilytitle">
                    <div class="imgblock">
                        <img src="../img/aspose_viewer-app.png" alt="Aspose.Diagram Product Family" />
                    </div>
                    <a href="/diagram/viewer"><span class="spanclass">@Model.Resources["AsposeDiagram"] @Model.Resources["AsposeProductFor"]  <em>@Model.Resources["Viewerh4"] </em></span><em>Drop or upload Microsoft Visio diagram to view it as an image. Supports viewing VSD, VSDX, VSX, VTX, VDX, VSSX, VSTX, VSDM, VSSM & VSTM formats.</em></a>
                </div>

            </div>
            <div class="col-lg-4 productfamily_box">
                <div class="productfamilytitle">
                    <div class="imgblock">
                        <img src="../img/aspose_conversion-app.png" alt="Aspose.Diagram for .NET" />
                    </div>
                    <a href="/diagram/conversion"><span class="spanclass">@Model.Resources["AsposeDiagram"] @Model.Resources["AsposeProductFor"]  <em>Conversion</em></span><em>Convert your Microsoft Visio diagrams to various formats, on the go. No need to install any software. Convert Visio to PDF, raster image, HTML & other formats.</em></a>
                </div>
            </div>
            <div class="col-lg-4 productfamily_box">
                <div class="productfamilytitle">
                    <div class="imgblock">
                        <img src="../img/aspose_merger-app.png" alt="Aspose.Diagram for .NET" />
                    </div>
                    <a href="/diagram/merger"><span class="spanclass">@Model.Resources["AsposeDiagram"] @Model.Resources["AsposeProductFor"]  <em>Merger</em></span><em>Merge your Microsoft Visio VSDX diagrams using your preferred browser from anywhere.</em></a>
                </div>
            </div>

            <div class="col-lg-4 productfamily_box">
                <div class="productfamilytitle">
                    <div class="imgblock">
                        <img src="../img/aspose_editor-app.png" alt="Aspose.Diagram for .NET" />
                    </div>
                    <a href="/diagram/editor"><span class="spanclass">@Model.Resources["AsposeDiagram"] @Model.Resources["AsposeProductFor"]<em>Editor</em></span><em>Edit Microsoft Visio(VSD, VSDX, VSX, VTX, VDX, VSSX, VSTX, VSDM, VSSM, VSTM) and open diagram files online.</em></a>
                </div>

            </div>

        </div>
	</div>
</div>
<div class="spacer">&nbsp;</div>