@model  Aspose.App.Diagram.Pages.PageModels.CanonicalModel

<div class="col-md-12 pt-5 app-features-section">
    <div class="container tc pt-5">
        <div class="col-md-4">
            <div class="imgcircle fasteasy">
                <img src="~/diagram/Resources/images/fast-easy.png" alt="@Model.Feature1" />
            </div>
            <h4>@Model.Feature1</h4>
            <p>@Model.Feature1Description.</p>
        </div>

        <div class="col-md-4">
            <div class="imgcircle anywhere">
                <img src="~/diagram/Resources/images/anywhere.png" alt="@Model.Feature2" />
            </div>
            <h4>@Model.Feature2</h4>
            <p>@Model.Feature2Description.</p>
        </div>

        <div class="col-md-4">
            <div class="imgcircle quality">
                <img src="~/diagram/Resources/images/quality.png" alt="@Model.Feature3" />
            </div>
            <h4>@Model.Feature3</h4>
            <p>@Model.PoweredBy <a target="_blank" id="PoweredBy" href="https://products.aspose.com/diagram" rel="noopener">Aspose.Diagram</a>@Model.Feature3Description.</p>
        </div>
    </div>
</div>