@using Aspose.App.Diagram.Pages.Models
@model  Aspose.App.Diagram.Pages.PageModels.AppModel

<div class="container-fluid asposetools pb5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pt-5 pb-5" style="min-height:450px">

                <h1 id="ProductTitle">@Model.Title</h1>
                <h2 id="ProductTitleSub">@Model.TitleSub</h2>

                <div id="WorkPlaceHolder">
                    <form id="UploadFile" name="UploadFile" method="POST" enctype="multipart/form-data">
                        @if (Model.App == DiagramApps.Editor)
                        {
                            <div class="col-md-12">
                                <div class="convertbtn">
                                    <input type="button" class="btn btn-success btn-lg" id="newButton" value="Create New">
                                </div>
                            </div>
                        }

                        @if (!Model.UploadAndRedirect)
                        {
                            <div class="col-md-12">
                                @if (Model.SaveAsOptions != null)
                                {
                                    <div class="saveas">
                                        <em>@Model.Resources["SaveAs"]</em>
                                        <div class="btn-group">
                                            <select id="saveAs" name="saveAs" style="display: none" onchange="">
                                                @foreach (var ext in Model.SaveAsOptions)
                                                {
                                                    <option value="@ext.ToUpper().Trim()">@ext.ToUpper().Trim()</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                }
                                <div class="convertbtn">
                                    <input type="button" class="btn btn-success btn-lg" ID="uploadButton" value="@Model.ResourcesFromApp("ButtonText")" />
                                </div>
                            </div>
                        }
                    </form>
                </div>
                @if (!Model.UploadAndRedirect)
                {
                    <div id="DownloadPlaceHolder" class="hidden">
                        <div class="filesuccess">
                            <label id="SuccessMessage">@Model.ResourcesFromApp("SuccessMessage")</label>
                            <span class="convertbtn">
                                <a href="#" id="DownloadButton" class="btn btn-success btn-lg">@Model.Resources["DownLoadNow"]&nbsp;<i class="fa fa-download"></i></a>
                            </span>
                            @if (Model.ShowViewerButton)
                            {
                                <div class="clearfix">&nbsp;</div>
                                <span class="viewerbtn">
                                    <a href="#" id="ViewerLink" target="_self" class="btn btn-success btn-lg">@Model.ResourcesFromApp("ViewerButtonText") &nbsp;<i class="fa fa-eye"></i></a>
                                </span>
                            }
                            <div class="clearfix">&nbsp;</div>
                            <div class="col-md-2"></div>
                            <a href="@Model.AppURL.ToLower()" class="btn btn-link col-md-6" style="text-align: left">@Model.ResourcesFromApp("AnotherFile") &nbsp;<i class="fa-refresh fa"></i></a>
                            <a id="sendEmailButton" class="btn btn-link col-md-3" style="text-align: left">@Model.Resources["SendToEmail"] &nbsp;<i class="fa-envelope-o fa"></i></a>
                            <div class="col-md-1"></div>
                            <div class="clearfix"></div>
                            <div class="col-md-2"></div>
                            <a class="btn btn-link col-md-6" style="text-align: left" target="_blank" href="https://products.aspose.cloud/diagram/family">Cloud API &nbsp;<i class="fa-cloud fa"></i></a>
                            <a class="btn btn-link col-md-3" style="text-align: left" target="_blank" href="https://products.aspose.com/diagram/family">On Premise API &nbsp;<i class="fa-file-o fa"></i></a>
                            <div class="col-md-1"></div>

                        </div>
                        <p>@Model.Resources["BookmarkTextDownload"]</p>
                    </div>
                }
                <div id="alertPlaceHolder" class="col-md-12">
                    <br />
                    <p id="alertMessage" class="alert alert-danger hidden"></p>
                    <p id="alertSuccess" class="alert alert-success hidden"></p>
                </div>

                <div id="loaderPlaceHolder">
                    <div id="loader" class="hidden" role="status" aria-hidden="true">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="width: 15%">15%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("OtherAppsPanel")
@Html.Partial("Social")
@Html.Partial("Overview", Model.OverviewModel)
@if (Model.ExtensionModel != null)
{
    @Html.Partial("ExtensionInfo", Model.ExtensionModel)
}
@if (Model.HowToModel != null)
{
    @Html.Partial("HowTo", Model.HowToModel)
}
@if (Model.CanonicalModel != null)
{
    @Html.Partial("Canonical", Model.CanonicalModel)
}
@if (Model.OtherFeaturesModel != null)
{
    @Html.Partial("OtherFeatures", Model.OtherFeaturesModel)
}
@Html.Partial("Modals")

@if (Model.SaveAsOptions != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#saveAs').select2();
            var val = $('#saveAs option:eq(0)').val();
            $('#saveAs').val(val);
            $('#saveAs').change();
        });
    </script>
}